.tab {
  right: 0;
  position: absolute;
  width: 88px;
  height: 460px;
}

.tablink {
  display: block;
  padding: 60px 36px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  transition: 0.3s;
  font-family: $fontMont;
  font-size: $fontSizeXL;
  background: $lightGray;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.tablink:hover {
  background-color: $white;
  color: $primary;
  opacity: 1;
}
