@import "variales.scss";
@import "./components/header.scss";



* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #F9FBFF;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

button, ul{
  cursor:pointer;
}
