@import "variales.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/slider.scss";
@import "./components/gift-set.scss";
@import "./components/tab.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: $whiteGray;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

button, ul {
  cursor: pointer;
}
