@import "variales.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/slider.scss";
@import "./components/gift-set.scss";
@import "./components/combo-set.scss";
@import "./components/footer.scss";
@import "./components/tab.scss";


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #F9FBFF;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

button, ul{
  cursor:pointer;
}
