//colors
$primary: #415167;
$accent: #C7A17A;
$darkGray: #151D28;
$lightGray: #EDF0F5;
$romance: #F9F5E8;
$grey: #232C38;
$white: #FFFFFF;

//fond-size
$fontSizeXXL: 54px;
$fontSizeXL: 30px;
$fontSizeL: 24px;
$fontSizeM: 20px;
$fontSizeS: 16px;


//fond-family
$fontMont: "Montserrat", sans-serif;
$fontNunito: "Nunito", sans-serif;
